$primary-color: #3498db;
$secondary-color: #2ecc71;
$corporate-black: #080808;
$corporate-white: #ffffff;
$corporate-grey: #6c6c6c;
$corporate-brown: #7e572d;
$corporate-golden: #edc38e;

// overlays
$overlay-black: #0a0a0a;
$overlay-grey: #373737;

//$font-stack: Helvetica, sans-serif;
$font-stack: "Inter", sans-serif;

$font-small: toRem(12);
$font-medium: toRem(16);
$font-big: toRem(22);
